.individualBox {
    height: 150px;
    width: 150px;
    cursor: url('/img/hammer.png'), default;
    background-position: center;
    background-position: bottom;
    z-index: -1;
    margin: -30px;
    outline: none;
    border: none;
}

body {
    cursor: url('/img/hammer.png'), default;
    background-image: url("/img/mario-background.jpg");
    font-family: 'Audiowide', cursive;

}



.gamePlayMode{
    float: left;
    margin-left: 75px;
    margin-bottom: 100px;
}

.gamePlayMode>.button {
    float:left;
}


.tube {
    position: absolute;
    top: 32px;
    right: 100px;
    z-index: 1;
}

button.individualBox {
    background-image:url('/img/brick.png');

}

button#idOfStartNormalMode {
    background-image:url('/img/startNormal.png');

}
button#idOfStartEasyMode {
    background-image:url('/img/startEasy.png');

}
button#idOfStartHardMode {
    background-image:url('/img/startHard.png');

}

#idOfStartNormalMode {
    height: 83px;
    width: 270px;
    cursor: url('/img/hammer.png'), default;
}

#idOfStartEasyMode {
    height: 83px;
    width: 270px;
    cursor: url('/img/hammer.png'), default;
}

#idOfStartHardMode {
    height: 83px;
    width: 270px;
    cursor: url('/img/hammer.png'), default;
}

.flower {
    position: relative;
    bottom: 65px;
    left: -20px;
    z-index: 0;

}
.title{
    margin-left: 150px;
}
.topFields {
    margin-bottom: 50px;
    margin-left: 150px;

}

.rowBox {
    position: relative;
}

.topRow {
    float: left;
}

.middleRow {
    float: left;
}

.bottomRow {
    float: left;
}