.individualBox {
    height: 150px;
    width: 150px;
   /* background-image: url("/img/mario-tube.png");
    background-repeat: no-repeat;*/
    background-position: center;
    background-position: bottom;
}

.topRow {
    float: left;
}

.middleRow {
    float: left;
}

.bottomRow {
    float: left;
}